<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>514371600334-4ns658v4id152bdfj1c37jtibkabqud7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.514371600334-4ns658v4id152bdfj1c37jtibkabqud7</string>
	<key>API_KEY</key>
	<string>AIzaSyDBMFjYKm3rqs5mL01ao_xUHYNOmA2LwkA</string>
	<key>GCM_SENDER_ID</key>
	<string>514371600334</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.company.sami</string>
	<key>PROJECT_ID</key>
	<string>splitapp-4b45b</string>
	<key>STORAGE_BUCKET</key>
	<string>splitapp-4b45b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:514371600334:ios:767be6b02792ec3493f59f</string>
	<key>DATABASE_URL</key>
	<string>https://splitapp-4b45b.firebaseio.com</string>
</dict>
</plist>